@font-face {
  font-family: "PT Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-mono-400.woff2") format("woff2");
  src: url("../fonts/pt-mono-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-400.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-700.woff2") format("woff2");
  src: url("../fonts/roboto-condensed-700.woff") format("woff");
}
