html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "PT Mono", "Courier New", sans-serif;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}
