$color-light: #ffffff;
$color-dark: #000000;
$color-bg: #131314;
$color-input-text: #1c1c1c;
$color-input-border: #c9ccd4;
$color-accent: #0ad9c6;
$color-hamburger-open: #141517;
$color-nav-bg: #f6f6f6;
$color-nav-link: #48494d;
$color-header: #1f1f1d;
$color-bg-semilight: #f6f7f9;
$color-video-bg: #131313;
$color-input-invalid: #dc3534;

$tablet-max-width: 1023px;
$mobile-max-width: 767px;
