// .about {
//   width: 100vw;
// }

.about__wrapper {
  position: relative;
  width: clamp(900px, 75%, 1170px);
  margin: 0 auto;
  padding: 110px 0;
  padding-top: 105px;
  padding-right: 5px;
  padding-left: 180px;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 56px;
    padding-left: 191px;
    padding-right: 2px;
    padding-bottom: 84px;
    width: calc((770 - 20 * 2) / 770 * 100%);
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 34px 0 65px;
    width: clamp(290px, 65%, 400px);
  }

  @include pseudo(before) {
    left: -595px;
    top: -104px;
    width: 560px;
    height: 486px;
    background-image: url("../img/icons/triangle-pointed.svg");
    background-size: cover;
    transform: rotate(90deg);

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  @include pseudo(after) {
    right: -309px;
    top: -293px;
    width: 260px;
    height: 224px;
    background-image: url("../img/icons/triangle.svg");
    background-size: cover;
    transform: rotate(-30deg);

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.about__heading {
  margin: 0;
  margin-bottom: 21px;
  position: relative;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-font;

  @media (max-width: $breakpoint-tablet) {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 24px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 19px;
    font-size: 28px;
    line-height: 140.62%;
  }

  @include pseudo(before) {
    left: -210px;
    top: 5px;
    width: 220px;
    height: 317px;
    background-image: url("../img/number-desktop.png");
    background-size: cover;

    @media (max-width: $breakpoint-tablet) {
      left: -213px;
      top: -8px;
      width: 251px;
      height: 362px;
      background-image: url("../img/number-tablet.png");
    }

    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}

.about p {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-font;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 21px;
    line-height: 22px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 40px;
  }

  &:last-of-type {
    position: relative;
    margin-bottom: 40px;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 29px;
    }
  }
}

.about__dots {
  @media (max-width: $breakpoint-tablet) {
    position: relative;

    @include pseudo(before) {
      content: "..";
      bottom: -2px;
      right: -20px;
    }
  }
}

.about__button-more {
  min-width: 180px;
  padding: 14px 13px 13px 12px;
  background-color: $color-white;
}

.about__text-wrap {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}
