.advantages {
  overflow-y: hidden;
}

.advantages__wrapper {
  position: relative;
  width: clamp(900px, 75%, 1170px);
  margin: 0 auto;
  padding-top: 112px;

  @media (max-width: $breakpoint-tablet) {
    width: calc((770 - 20 * 2) / 770 * 100%);
    padding-top: 54px;
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 37px;
    padding-left: 0;
    padding-right: 0;
    width: clamp(290px, 65%, 400px);
  }

  @include pseudo(before) {
    left: -190px;
    top: 63px;
    width: 260px;
    height: 224px;
    background-image: url("../img/icons/triangle.svg");
    background-size: cover;
    transform: rotate(-90deg);

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  @include pseudo(after) {
    left: 419px;
    bottom: -85px;
    width: 560px;
    height: 486px;
    background-image: url("../img/icons/triangle-pointed.svg");
    background-size: cover;
    transform: rotate(-90deg);

    @media (max-width: $breakpoint-tablet) {
      left: 427px;
      bottom: -144px;
    }

    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: calc(30 / 1170 * 100%);
  grid-template-columns: 1fr 1fr;
  /* 30 пикселей от 1170 контейнера */
  row-gap: 30px;

  @media (max-width: $breakpoint-tablet) {
    column-gap: calc(48 / 1170 * 100%);
    row-gap: 31px;
  }

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 15px;
  color: $color-accent;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-family: $font-roboto;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 7px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 20px;
    line-height: 140.62%;
  }
}

.advantages__item {
  z-index: 1;
  padding: 40px 43px 40px 42px;
  border: 1px solid $color-border;
  border-left: 3px solid $color-accent;
  background-color: $color-white;
  min-height: 299px;

  @media (max-width: $breakpoint-tablet) {
    padding: 24px 21px 22px 24px;
    min-height: 306px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 20px;
  }

  &:hover {
    background-color: $color-accent;

    h3,
    p {
      color: $color-white;
    }

    .advantages__icon {
      fill: $color-white;
    }
  }

  &--small {
    @media (max-width: $breakpoint-tablet) {
      min-height: 232px;

      h3 {
        margin-bottom: 10px;
      }
    }
  }

  &--detective {
    @media (max-width: $breakpoint-mobile) {
      padding-right: 4px;
    }
  }

  &--detective span {
    margin-left: 9px;

    @media (max-width: $breakpoint-tablet) {
      margin-left: 0;
    }
  }

  &--detective h3 {
    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 16px;
    }
  }

  &--tag span {
    margin-left: 9px;

    @media (max-width: $breakpoint-tablet) {
      margin-left: 0;
    }
  }

  &--tag h3 {
    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 20px;
    }
  }

  &--hired {
    @media (max-width: $breakpoint-mobile) {
      padding-right: 4px;
    }
  }
}

.advantages__item p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-font;
}

.advantages__icon {
  display: block;
  fill: $color-accent;
  margin-bottom: 19px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 6px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 14px;
  }

  &--stopwatch {
    width: 30px;
    height: 36px;
  }

  &--hired {
    width: 35px;
    height: 35px;

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 9px;
      width: 32px;
      height: 32px;
    }

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 13px;
    }
  }

  &--detective {
    margin-top: 4px;
    width: 36px;
    height: 31px;

    @media (max-width: $breakpoint-tablet) {
      width: 31px;
      height: 26px;
    }
  }

  &--tag {
    width: 35px;
    height: 35px;

    @media (max-width: $breakpoint-tablet) {
      width: 32px;
      height: 32px;
    }
  }
}
