.advantages__wrapper {
  width: clamp(900px, 75%, 1170px);
  margin: 0 auto;
  padding-top: 109px;

  @media (max-width: $breakpoint-tablet) {
    width: calc((770 - 20 * 2) / 770 * 100%);
  }

  @media (max-width: $breakpoint-mobile) {
    width: clamp(290px, 65%, 400px)
  }
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: calc(30 / 1170 * 100%);
  grid-template-columns: 1fr 1fr;
  /* 30 пикселей от 1170 контейнера */
  row-gap: 30px;

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.advantages__item {
  padding: 40px 43px 40px 45px;
  border: 1px solid $color-border;
  border-left: 3px solid $color-accent;

  @media (max-width: $breakpoint-tablet) {
    padding: 24px 26px 25px 27px;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 20px;
  }

  &:hover {
    background-color: $color-accent;

    h3,
    p {
      color: $color-white;
    }

    .advantages__icon {
      fill: $color-white;
    }
  }
}

.advantages__item h3 {
  margin: 0;
  margin-bottom: 15px;
  color: $color-accent;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  font-family: $font-roboto;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 22px;
  }

  @media (max-width: $breakpoint-mobile) {
    marign-bottom: 16px;
  }
}

.advantages__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-font;
}

.advantages__icon {
  display: block;
  fill: $color-accent;
  margin-bottom: 23px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 13px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 14px;
  }

  &--stopwatch {
    width: 30;
    height: 36px;
  }

  &--hired {
    width: 35px;
    height: 35px;

    @media (max-width: $breakpoint-tablet) {
      width: 32px;
      height: 32px;
    }
  }

  &--detective {
    width: 36px;
    height: 31px;

    @media (max-width: $breakpoint-tablet) {
      width: 31px;
      height: 26px;
    }
  }

  &--tag {
    width: 35px;
    height: 35px;

    @media (max-width: $breakpoint-tablet) {
      width: 32px;
      height: 32px;
    }
  }
}
