.button {
  display: inline-block;
  padding: 15px 0 8px;
  border: 1px solid $color-white;
  border-radius: 5px;
  color: $color-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-roboto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  vertical-align: middle;

  &--accent-dark {
    background-color: $color-accent;
    color: $color-white;
  }
}
