.feedback {
  background-color: $color-accent;
  padding: 92px 0 105px;

  @media (max-width: $breakpoint-tablet) {
    padding: 80px 0 106px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 30px 0 41px;
  }
}

.feedback__wrapper {
  width: clamp(900px, 75%, 1170px);
  margin: 0 auto;

  @media (max-width: $breakpoint-tablet) {
    width: calc((770 - 88 * 2) / 770 * 100%);
  }

  @media (max-width: $breakpoint-mobile) {
    width: clamp(290px, 65%, 600px);
  }
}

.feedback__content-wrapper {
  position: relative;
  color: $color-white;
  width: 49%;
  margin-left: auto;
  overflow-y: visible;

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
  }

  @include pseudo(before) {
    z-index: 3;
    top: 69px;
    left: -622px;
    width: 511px;
    height: 288px;
    background-image: url("../img/paper_airplane.png");

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  @include pseudo(after) {
    z-index: 2;
    top: 2px;
    left: -776px;
    width: 611px;
    height: 487px;
    background-size: cover;
    background-image: url("../img/icons/promo_triangles.svg");

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

.feedback__heading {
  margin: 0;
  margin-bottom: 9px;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 140.62%;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 13px;
    font-size: 28px;
    line-height: 140.62%;
  }
}

.feedback__descr {
  margin: 0;
  margin-bottom: 49px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 55px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.feedback input:not([type="checkbox"]),
.feedback textarea {
  width: 100%;
  padding: 14px 17px;
  border: 0;
  color: $color-white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba($color-white, 0.1);

  @media (max-width: $breakpoint-mobile) {
    padding: 15px 17px;
  }

  &::placeholder {
    font-family: $font-pt-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba($color-white, 0.8);
  }

  &:focus {
    outline: 2px solid $color-white;
    outline-offset: 3px;

    &:invalid {
      outline-color: $color-invalid;
    }
  }

  &:hover {
    cursor: pointer;
    outline: 2px solid $color-white;
  }
}

.feedback__author-info {
  display: grid;
  margin-bottom: 40px;
  column-gap: calc(31 / 570 * 100%);
  grid-template-columns: 1fr 1fr;

  @media (max-width: $breakpoint-mobile) {
    display: block;
    margin-bottom: 0;
  }
}

.feedback__author-info p {
  margin: 0;
  flex-grow: 1;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 30px;
  }
}

.feedback__author-info input {
  min-height: 50px;
}

.feedback__text {
  margin-bottom: 41px;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 30px;
  }
}

.feedback__text textarea {
  height: 154px;
  resize: none;

  @media (max-width: $breakpoint-tablet) {
    height: 160px;
  }

  @media (max-width: $breakpoint-mobile) {
    height: 104px;
  }
}

.feedback__box-submit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(31 / 570 * 100%);

  @media (max-width: $breakpoint-mobile) {
    display: block;
  }
}

.feedback__box-submit p {
  margin: 0;
}

.feedback__button-submit {
  padding: 14px 18px;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 17px;
  }

  &:hover {
    cursor: pointer;
  }
}

.feedback__disclaimer {
  display: flex;
  margin: 0;
}

.feedback__disclaimer input {
  appearance: none;
  position: relative;
  font-size: 1px;
  width: 1px;
  height: 1px;
  margin: -1px;

  @include pseudo(before) {
    left: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    background-color: $color-accent;
    border: 1px solid $color-white;

    @media (max-width: $breakpoint-tablet) {
      top: 13px;
      left: 12px;
    }

    @media (max-width: $breakpoint-mobile) {
      left: 2px;
    }
  }

  @include pseudo(after) {
    top: 15px;
    left: 14px;
    width: 8px;
    height: 5px;
    background-image: url("../img/icons/checkbox-arrow.svg");
    opacity: 0;

    @media (max-width: $breakpoint-tablet) {
      top: 19px;
      left: 16px;
    }

    @media (max-width: $breakpoint-mobile) {
      left: 6px;
    }
  }

  &:checked::after {
    opacity: 1;
  }

  &:focus {
    outline: 0;
  }

  &:focus + label {
    outline: 2px solid $color-white;
  }
}

.feedback__disclaimer label {
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  text-align: left;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 12px;
    padding-left: 46px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-left: 35px;
  }

  &:hover {
    cursor: pointer;
    outline: 2px solid $color-white;
  }

  &:focus {
    outline: 2px solid $color-white;
  }
}
