.footer {
  padding: 72px 0 14px;
  color: $color-background-dark;
  background-color: $color-background-light;
  overflow-x: hidden;

  @media (max-width: $breakpoint-tablet) {
    padding: 18px 0 24px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 46px 0 26px;
  }
}

.footer__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  // Ширина контента 1920 - 2 раза по 250
  width: clamp(900px, 90%, 1420px);
  // FIXME:
  margin: 0 auto;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 5px;
    grid-template-columns: 1fr 1fr;
    width: clamp(721px, 95%, 950px);
  }

  @media (max-width: $breakpoint-mobile) {
    padding-left: 0;
    width: 100%;
    display: block;
  }
}

.footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50px;
  width: 216px;
  height: 52px;
  margin-left: 2px;

  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 27px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 26px;
  }
}

// Соцсети
.footer__social-wrapper {
  @media (max-width: $breakpoint-tablet) {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;

    @include pseudo(before) {
      opacity: 0.5;
      z-index: 3;
      bottom: 0;
      width: 500vw;
      height: 1px;
      background-color: $color-grey-divider;
      transform: translateX(-100vw);
    }
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 47px;
  }
}

.footer__social-copyright {
  margin: 0;
  display: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 17px;
    padding-left: 21px;
    display: block;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 20px;
    padding-top: 0;
    padding-left: 2px;
  }
}

.footer__social-list {
  position: relative;
  left: -2px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (max-width: $breakpoint-tablet) {
    left: 7px;
    padding-top: 9px;
  }

  @media (max-width: $breakpoint-mobile) {
    left: 5px;
    padding-top: 8px;
  }
}

.footer__social-link {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  transition: all 1s ease;

  &:hover svg {
    transform: scale(1.07);
    fill: $color-accent;
  }

  &:active svg {
    transform: scale(0.98);
    fill: $color-accent;
    opacity: 0.5;
  }
}

.footer__social-link svg {
  fill: $color-grey-links;
}

// Навигация

.footer__nav {
  padding-bottom: 55px;
  padding-left: 10%;
  padding-right: 8%;

  @media (max-width: $breakpoint-tablet) {
    padding: 38px 0 37px;
  }

  @media (max-width: $breakpoint-mobile) {
    position: relative;
    padding: 28px 0 4px;

    @include pseudo(before) {
      opacity: 0.5;
      z-index: 3;
      bottom: 0;
      width: 500vw;
      height: 1px;
      background-color: $color-grey-divider;
      transform: translateX(-100vw);
    }
  }
}

.footer__nav-heading {
  margin: 0;
  margin-bottom: 25px;
  color: $color-background-dark;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: $font-roboto;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (max-width: $breakpoint-mobile) {
    position: relative;
  }
}

.footer__nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: clamp(20px, 5%, 75px);
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.3s ease;

  @media (max-width: $breakpoint-tablet) {
    display: block;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-bottom: 19px;
  }
}

.footer__column-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__column-item a {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    color: $color-accent;
  }

  &:active {
    color: $color-accent;
    opacity: 0.5;
  }
}

// Контакты
.footer__contacts {
  position: relative;
  padding-bottom: 55px;
  padding-left: 17px;

  @media (max-width: $breakpoint-tablet) {
    padding: 38px 0 33px;
    padding-left: 15px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: 28px 0 0;
  }
}

.footer__contacts-heading {
  margin: 0;
  margin-bottom: 27px;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 33px;
  }
}

.footer__contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (max-width: $breakpoint-mobile) {
    padding-right: 10px;
    padding-bottom: 19px;
  }
}

.footer__contacts-item a {
  color: inherit;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  opacity: 0.5;

  &:hover {
    color: $color-accent;
  }
}

.footer__contacts-item--address a {
  &:hover {
    cursor: default;
    color: inherit;
  }
}

// Копирайт
.footer__copyright {
  position: relative;
  margin: 0 -10px;
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 14px;
  grid-column-start: 1;
  grid-column-end: 4;
  z-index: 2;

  @media (max-width: $breakpoint-tablet) {
    padding-top: 16px;
    grid-column-end: 3;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 23px;
    flex-direction: column;
    align-items: center;
  }

  @include pseudo(before) {
    opacity: 0.5;
    z-index: 3;
    top: 0;
    width: 500vw;
    height: 1px;
    background-color: $color-grey-divider;
    transform: translateX(-100vw);
  }
}

.footer__copyright-text {
  margin: 0;
  padding: 5px 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;

  &--rights {
    margin-right: calc(56 / 1420 * 100%);

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &--year {
    margin-right: calc(120 / 1420 * 100%);

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  &--conditions {
    margin-right: auto;
  }

  &--developed {
    padding-right: 4px;
  }

  &--link {
    &:hover {
      color: $color-accent;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0;

    &:not(:last-child) {
      padding-left: 20px;
      margin-bottom: 12px;
    }
  }
}

.footer__accordeon-toggle {
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: block;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
  }
}

.accordeon__heading {
  @media (max-width: $breakpoint-mobile) {
    width: clamp(290px, 60%, 350px);
    margin-right: auto;
    margin-left: auto;
  }
}
